@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  * {
    @apply auc-text-slate-200;
  }
}

body {
  @apply auc-bg-slate-600;
  --bg-color: rgb(107 114 128 / 1);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: rgb(15 23 42 / 1);
  }
}

@media (min-width: 768px) {
  body {
    --dot-color: rgb(71 85 105 / 1);
    --dot-size: 1px;
    --dot-space: 15px;
    background:
      linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
      linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center,
      var(--dot-color);
    background-size: var(--dot-space) var(--dot-space);
  }
}

#root {
  @apply auc-grid auc-place-content-center auc-place-items-center auc-min-w-[300px];
  @apply md:auc-h-screen;
}

label {
  @apply auc-text-sm auc-font-bold;
}

select {
  @apply auc-block auc-w-[230px] auc-mt-1 auc-mx-auto auc-mb-5 auc-h-9 auc-py-2 auc-px-4;
  @apply auc-rounded-md auc-outline-none auc-bg-gray-100 auc-text-gray-500;
  @apply auc-border-2 auc-border-gray-200 auc-text-sm auc-cursor-pointer;
  @apply md:auc-bg-white md:auc-border-solid md:auc-w-full;
  @apply dark:auc-bg-slate-500 dark:auc-border-slate-400 dark:auc-text-slate-200;
}

select:hover {
  @apply auc-bg-gray-300;
  @apply dark:auc-bg-slate-600;
}

.submit-button {
  @apply auc-bg-red-400 auc-font-bold auc-w-[230px] auc-mx-auto auc-mt-0 auc-mb-5 auc-h-11 auc-py-2 auc-px-4;
  @apply auc-rounded-md auc-outline-none auc-border-none auc-text-white auc-text-sm auc-cursor-pointer;
  @apply md:auc-w-full;
}

.submit-button:disabled {
  @apply auc-cursor-not-allowed auc-bg-red-300;
}

.submit-button:not(:disabled):hover {
  @apply auc-bg-red-500;
}
